:root:root {
    --dark-gray-enabled: transparant !important;
    --dark-gray-disabled-D90: transparant !important;
}

.sheet-darkmode  .attributes-container {
    background: transparent !important;
}